<div class="log-form">
    <div class="form">
        <h2>Login to your account</h2>
        <% if(messages.error) { %>
           <p class="error-msg"> <%= messages.error  %> </p>
        <% } %>   
        <form class="login-form" action="" method="POST">
            <input class="input-form" 
                type="text" title="username" 
                placeholder="username" 
                name="username"
                <% if(username) { %>
                value ="<%= username %> "
                    <% } %> 
                required> 
            <input class="input-form" 
                type="password" title="username" 
                placeholder="password" name="password" 
                required>
            <button type="submit" class="btn-form">Login</button>
        </form>
    </div>
</div>
<!--end log form -->