<div class="log-form">
    <div class="form">
        <h2>Login to your account</h2>
        <form class="login-form">
            <input class="input-form" type="text" title="username" placeholder="username" name="name"/>
            <input class="input-form" type="password" title="username" placeholder="password" name="password"/>
            <button type="submit" class="btn-form">Login</button>
        </form>
    </div>
</div>
<!--end log form -->