<h1>Your projects</h1>
<div class="project-container">
    <% textAdv.forEach( adv=> { %>
        <div class="card-project">
            <h2>
                <%= adv.title %>
            </h2>
            <p>
                <%= adv.description %>
            </p>
            <a href="/myprojects/delete<%= `${adv.id}` %>" class='btn-link'>
                <button class="del-project-btn">
                    Delete Project
                </button>
            </a>
        </div>
        <% }) %>
</div>