<body>
    
    <form action="" method="post">
        <input name="test" type="text" value="somethin">
        <input name="test2" type="hidden" value="somethin">
        <button>test post</button>
    </form>
</body>